<ion-view view-title="Inicio">
  <ion-content>
  <center>
    <h1>Multimedia Inc</h1>
    <img src="images.jpg">
    <br>
    <div class="card">
      <div class="item item-text-wrap">
      Si bien es cierto que en todos nuestros dispositivos móviles viene incluido un reproductor de música, no siempre son suficientemente completos o satisfactorios para el usuario. A veces queremos algo mejor, con más funciones, o simplemente, estéticamente más bonito, moderno, friki o divertido. O bien necesitamos escuchar música online y descubrir canciones. 
      <br>
      Este reproductor y galeria de música digital nos permite disfrutar de variedad de canciones para nuestro teléfono en base a la música que tenemos almacenada. Segun sea las preferencias de cada quien. Esta app se caracteriza por la sencilla interfaz que tiene, lejos de los complicados menús de muchas de estas apps.
      </div>
    </div>
    <img src="escucharmusica.jpg">
  </center>
  </ion-content>
</ion-view>
