<ion-view view-title="Cantantes">
  <ion-content>
    <h1>Cantantes</h1>

    <ion-list>
    <ion-item class="item-thumbnail-left">
      <img src="shakira.jpg">
      <h2>Shakira</h2>
      <p>Blue Album</p>
    </ion-item>
    
    <ion-item class="item-thumbnail-left">
      <img src="vicente.jpg">
      <h2>Vicente Fernandez</h2>
      <p>Blue Album</p>
    </ion-item>

    <ion-item class="item-thumbnail-left">
      <img src="arjona.jpg">
      <h2>Ricardo Arjona</h2>
      <p>Blue Album</p>
    </ion-item>

    <ion-item class="item-thumbnail-left">
      <img src="adrian.jpg">
      <h2>Jesus Adrian Romero</h2>
      <p>Blue Album</p>
    </ion-item>

    <ion-item class="item-thumbnail-left">
      <img src="prince.jpg">
      <h2>Prince Royce</h2>
      <p>Blue Album</p>
    </ion-item>

    <ion-item class="item-thumbnail-left">
      <img src="adele.jpg">
      <h2>Adele</h2>
      <p>Blue Album</p>
    </ion-item>

    <ion-item class="item-thumbnail-left">
      <img src="celia.jpg">
      <h2>Celia Cruz</h2>
      <p>Blue Album</p>
    </ion-item>

    <ion-item class="item-thumbnail-left">
      <img src="bose.jpg">
      <h2>Miguel Bose</h2>
      <p>Blue Album</p>
    </ion-item>

    <ion-item class="item-thumbnail-left">
      <img src="daddy_yankee.jpg">
      <h2>Daddy Yankee</h2>
      <p>Blue Album</p>
    </ion-item>

    <ion-item class="item-thumbnail-left">
      <img src=".jpg">
      <h2>Maluma</h2>
      <p>Blue Album</p>
    </ion-item>
</ion-list>
  

  </ion-content>
</ion-view>
