<ion-view title="Géneros" id="page2">
  <ion-content padding="true" class="has-header">
    <ion-list id="gNeros-list3">
      <ion-item class="item-thumbnail-left item-icon-right dark" id="gNeros-list-item8" ui-sref="men.pop">
        <img src="img/uMgr2yrfSq69wBcVpfh0_pop.jpg">
        <h2dark>Pop
          <p>Música Pop</p>
          <i class="icon ion-android-arrow-forward"></i>
        </h2dark>
      </ion-item>
      <ion-item class="item-thumbnail-left item-icon-right" id="gNeros-list-item9" ui-sref="men.rock">
        <img src="img/E5SSeDFcRaWKowl48pXA_rock.jpg">
        <h2>Rock</h2>
        <i class="icon ion-android-arrow-forward"></i>
      </ion-item>
      <ion-item class="item-thumbnail-left item-icon-right" id="gNeros-list-item10" ui-sref="men.salsa">
        <img src="img/NvWMNbHLR0CwxxyhNXA9_salsa.jpg">
        <h2>Salsa</h2>
        <i class="icon ion-android-arrow-forward"></i>
      </ion-item>
      <ion-item class="item-thumbnail-left item-icon-right" id="gNeros-list-item11" ui-sref="men.bachata">
        <img src="img/kcPirAVeRgmMvAlBFL6O_bachata.jpg">
        <h2>Bachata</h2>
        <i class="icon ion-android-arrow-forward"></i>
      </ion-item>
      <ion-item class="item-thumbnail-left item-icon-right" id="gNeros-list-item12" ui-sref="men.electrNica">
        <img src="img/8oftZmt6TRi2YvntzOtL_electronica.jpg">
        <h2>Electrónica</h2>
        <i class="icon ion-android-arrow-forward"></i>
      </ion-item>
      <ion-item class="item-thumbnail-left item-icon-right" id="gNeros-list-item13" ui-sref="men.cumbia">
        <img src="img/NRjv9pIxQLaroAEILaLG_cumbia.jpg">
        <h2>Cumbia</h2>
        <i class="icon ion-android-arrow-forward"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>